* text=auto

*.sh text eol=lf
*.swift text eol=lf
*.m text eol=lf
*.mm text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.S text eol=lf
*.pbxproj text eol=lf
*.plist text eol=lf
*.entitlements text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.md text eol=lf

*.a binary
*.dll binary
*.exe binary
*.drv binary
*.sys binary
*.elf binary
*.metallib binary
*.tar.gz binary
*.zip binary
